$highlight-color: #379dd7;
$fade-shade-1: rgba(0, 0, 0, 1);
$fade-shade-2: rgba(0, 0, 0, 0);
$page-background-color: rgba(0, 0, 0, 0.85);
$react-header-color: #282c34;
$header-background-color: rgba(20, 20, 20, 1);
