@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/placeholders';

.playing-container {
  @include component-width-padding;
  @include component-border-background;
  height: 400px;
}

.playing-cover {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.playing-title {
  @extend %white-text;
}

.playing-album {
  @extend %white-text;
}

.playing-artist {
  @extend %white-text;
}
